@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local("Open Sans"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

body {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #444;
  background-color: #fff; }

input, textarea {
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif; }

.btn {
  display: block;
  padding: 16px 0 16px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #444;
  background-color: transparent;
  border: 2px solid #444; }
  .btn:hover {
    color: #fff;
    background-color: #444; }
  .btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444; }

.catalog-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 30px; }

.catalog-item:hover .catalog-item__description {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }

.catalog-item:active .catalog-item__description {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1); }

.catalog-item__photo {
  cursor: pointer; }
  .catalog-item__photo img {
    width: 260px;
    height: 195px;
    vertical-align: top; }

.catalog-item__description {
  padding: 0 26px 0 27px;
  padding-top: 25px;
  border: 1px solid #ededed; }

.catalog-item__title {
  margin: 0;
  margin-bottom: 5px; }
  .catalog-item__title a {
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer; }
  .catalog-item__title a:hover {
    color: rgba(0, 0, 0, 0.6); }
  .catalog-item__title a:active {
    color: rgba(0, 0, 0, 0.3); }

.catalog-item__options {
  font-size: 13px;
  line-height: 30px; }

.catalog-item__order {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 21px 0 27px 0;
  margin-top: 19px;
  border-top: 1px solid #ececec; }

.catalog-item__price {
  color: #000; }

.catalog-item__basket {
  width: 21px;
  height: 19px;
  font-size: 0;
  cursor: pointer; }

.catalog-item__basket-icon {
  fill: rgba(34, 31, 31, 0.2); }

.catalog-item__basket:hover .catalog-item__basket-icon {
  fill: #63d1bb; }

.catalog-item__basket:active .catalog-item__basket-icon {
  fill: rgba(99, 209, 187, 0.3); }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.checkbox:last-of-type .checkbox__label {
  margin-bottom: 0; }

.checkbox__input {
  display: none; }

.checkbox__label {
  position: relative;
  display: block;
  margin-top: 18px;
  margin-bottom: 22px;
  padding: 11px 15px 10px 64px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000; }
  .checkbox__label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 36px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #444;
    transform: translateY(-50%); }
  .checkbox__label:hover::before {
    border-color: #62d1ba; }
  .checkbox__label:active::before {
    border-color: #c7c7c7; }

.checkbox__input:checked + .checkbox__label::before {
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 22px 16px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.contacts {
  margin-bottom: 39px; }

.contacts__content {
  width: 260px;
  margin: 0 auto;
  padding: 0 30px; }

.contacts__title {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000; }

.contacts__items {
  margin-bottom: 36px;
  font-size: 15px;
  line-height: 30px; }

.contacts__item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.contacts__item-email,
.contacts__item-address {
  width: 75px;
  font-weight: normal; }

.contacts__item-email-value {
  width: 183px;
  text-decoration: none;
  color: #444; }
  .contacts__item-email-value span {
    border-bottom: 1px solid #62d1ba; }
  .contacts__item-email-value:hover {
    color: #46c1ae; }
  .contacts__item-email-value:hover span {
    border-bottom-color: #46c1ae; }
  .contacts__item-email-value:active {
    color: rgba(70, 193, 174, 0.3); }
  .contacts__item-email-value:active span {
    border-bottom-color: rgba(70, 193, 174, 0.1); }

.contacts__item-address-value {
  width: 163px;
  margin: 0;
  padding-right: 20px; }

.contacts__map {
  width: 100%;
  height: 457px; }
  .contacts__map iframe {
    width: 100%;
    height: 457px;
    vertical-align: bottom; }

.contacts__feedback {
  width: 256px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 39px;
  font-size: 18px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.fieldset-title {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #62d1ba; }
  .fieldset-title::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 2;
    width: calc(100% - 62px);
    height: 1px;
    margin-top: -1px;
    background-color: #62d1ba; }
  .fieldset-title--mail::after {
    width: calc(100% - 81px); }

/* --------------- tablet ------------------ */

.input-field {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 14px 0;
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
  color: #444;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #000;
  border-radius: 0;
  outline: none; }
  .input-field:last-of-type {
    margin-bottom: 0; }
  .input-field--phone, .input-field--mail {
    padding-right: 45px;
    box-sizing: border-box; }
  .input-field::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .input-field::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .input-field:-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .input-field:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .input-field:hover, .input-field:active {
    border-bottom-color: #62d1ba; }
  .input-field--phone:hover + .user-phone__icon,
  .input-field--phone:active + .user-phone__icon {
    fill: #62d1ba; }
  .input-field--mail:hover + .user-email__icon,
  .input-field--mail:active + .user-email__icon {
    fill: #62d1ba; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.label-field {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000; }
  .label-field:first-of-type {
    margin-top: 23px; }
  .label-field--hidden {
    display: none; }

/* --------------- tablet ------------------ */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  display: none;
  width: 260px;
  padding: 35px 30px 46px 30px;
  background-color: #fff;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%); }

.modal--show {
  display: block; }

.modal__header {
  display: block;
  margin-bottom: 10px;
  padding: 0 50px;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000; }

.modal__text {
  display: block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: #444; }

.modal__size-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .modal__size-select label {
    width: 78px;
    padding: 15px 0;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #ececec; }
  .modal__size-select label:hover {
    border-color: #c7c7c7; }
  .modal__size-select input[type="radio"] {
    display: none; }
  .modal__size-select input[type="radio"]:checked + label {
    border-color: #63d1bb; }

.modal__add-basket {
  display: block;
  width: 100%;
  margin-top: 31px;
  padding: 16px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #63d1bb; }

/* --------------- tablet ------------------ */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); }

.modal-overlay--show {
  display: block; }

.navigation {
  position: relative;
  color: #000;
  background-color: #fff; }

.navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: none; }

.navigation--closed .navigation__toggle {
  width: 20px;
  height: 14px;
  margin-top: 32px;
  margin-right: 31px;
  background: transparent url("../img/icon-menu-open.svg") no-repeat; }

.navigation--opened .navigation__toggle {
  width: 21px;
  height: 21px;
  margin-top: 30px;
  margin-right: 30px;
  background: transparent url("../img/icon-menu-close.svg") no-repeat; }

.navigation__logo-menu {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 21px 0 22px 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec; }

.navigation__logo img {
  width: 86px;
  height: 35px;
  vertical-align: bottom; }

.navigation__logo:hover {
  opacity: 0.6; }

.navigation__logo:active {
  opacity: 0.3; }

.navigation__main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  overflow: hidden; }

.navigation__main-menu-item a {
  display: block;
  min-height: 24px;
  padding: 28px 0;
  padding-left: 76px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ececec; }

.navigation__main-menu-item--search a {
  position: relative; }

.navigation__main-menu-item--basket a {
  position: relative; }

.navigation__main-menu-item:hover a {
  color: rgba(0, 0, 0, 0.6); }

.navigation__main-menu-item:active a {
  color: rgba(0, 0, 0, 0.3); }

.navigation__main-menu-item:hover .navigation__menu-icon {
  fill: #62d1ba; }

.navigation__main-menu-item:active .navigation__menu-icon {
  fill: rgba(98, 209, 186, 0.3); }

.navigation__menu-icon {
  position: absolute;
  left: 32px;
  top: 50%;
  fill: rgba(34, 31, 31, 0.2);
  transform: translateY(-50%); }
  .navigation__menu-icon--search {
    width: 18px;
    height: 18px; }
  .navigation__menu-icon--basket {
    width: 21px;
    height: 19px; }

.navigation__bottom {
  display: none; }

.navigation__menu-item:hover a {
  color: rgba(0, 0, 0, 0.6); }

.navigation__menu-item:active a {
  color: rgba(0, 0, 0, 0.3); }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.order__content,
.order__footer {
  padding: 0 30px; }

.order__item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  border: 0; }

.order__wrapper:nth-last-of-type(2) .order__item {
  margin-bottom: 0; }

.order__note {
  margin: 17px 0;
  font-size: 14px;
  line-height: 16px; }

.order__button {
  width: 100%;
  margin-top: 30px; }

.order__title--hidden {
  display: none; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.page-footer {
  background-color: #f1f1f1; }

.page-footer__content {
  padding: 0 30px; }

.page-footer__logo {
  display: none; }

.page-footer__social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: end;
      align-items: flex-end;
  margin-left: -4px;
  padding-top: 24px;
  padding-bottom: 27px;
  border-bottom: 1px solid #e5e5e5; }

.social-link--instagram,
.social-link--twitter {
  margin-bottom: 2px; }

.page-footer__copyright {
  display: block;
  margin: 0;
  padding: 20px 0 22px 0;
  font-size: 19px;
  line-height: 34px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: #000; }
  .page-footer__copyright:active {
    opacity: 0.3; }

.page-footer__copyright:hover svg {
  fill: #46c1ae; }

.page-footer__copyright svg {
  margin-left: 30px;
  vertical-align: middle;
  fill: #63d1bb; }

/* --------------- tablet ------------------ */

.page-header {
  min-width: 320px; }

.page-main__title {
  margin: 0;
  padding: 70px 0 76px 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  background-color: #f1f1f1; }

.page-main__content {
  padding: 0 30px; }

.page-main__catalog {
  width: 260px;
  margin: 0 auto;
  margin-top: 30px; }

.page-main__production {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 58px; }
  .page-main__production p {
    margin: 0;
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 24px; }

.page-main__production-title {
  position: relative;
  margin: 0;
  padding: 24px 15px 23px 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000;
  border: 1px solid #ececec;
  border-bottom: 0; }
  .page-main__production-title:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 33px;
    width: 32px;
    height: 32px;
    background: transparent url("../img/icon-video.svg") no-repeat;
    transform: translateY(-55%); }

.page-main__production-video {
  position: relative;
  width: 260px;
  height: 150px; }
  .page-main__production-video video {
    width: 260px;
    height: 150px;
    vertical-align: top; }

.page-main__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 102px;
  height: 78px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  transform: translate(-50%, -50%); }
  .page-main__video-button:hover svg {
    transform: scale(1.2); }
  .page-main__video-button:active {
    opacity: 0.3; }
    .page-main__video-button:active svg {
      transform: scale(0.8); }

.page-main__production-info {
  padding: 27px 33px 32px 33px;
  border: 1px solid #ececec;
  border-top: 0; }

.page-main__production:hover .page-main__production-info {
  box-shadow: 0 12px 10px -5px rgba(0, 0, 0, 0.1), 5px 0 10px -6px rgba(0, 0, 0, 0.1), -5px 0 10px -6px rgba(0, 0, 0, 0.1); }

.page-main__production:active .page-main__production-info {
  box-shadow: 0 6px 5px -3px rgba(0, 0, 0, 0.1), 3px 0 5px -3px rgba(0, 0, 0, 0.1), -3px 0 5px -3px rgba(0, 0, 0, 0.1); }

.page-main__production-order {
  margin-top: 25px; }

.page-main__text-info {
  margin-top: 23px;
  margin-bottom: 10px;
  font-size: 13px; }

.page-main__order {
  margin-top: 23px;
  margin-bottom: 55px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.products {
  min-width: 320px;
  margin-bottom: 27px;
  color: #000;
  overflow: hidden; }

.products__title {
  width: 260px;
  margin: 0 auto;
  padding: 70px 0 122px 0;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  color: #000; }

.products__item {
  position: relative;
  display: block;
  text-decoration: none; }
  .products__item--interior {
    background-color: #63d1bb; }
  .products__item--toys {
    background-color: #56c3b2; }
  .products__item:hover {
    margin-top: -5px;
    padding-bottom: 5px; }
  .products__item--interior:hover {
    background-color: #59d5bc; }
  .products__item--toys:hover {
    background-color: #46c1ae; }
  .products__item:active .products__item-title {
    color: rgba(255, 255, 255, 0.3); }
  .products__item:active .products__icon {
    fill: rgba(20, 144, 128, 0.3); }

.products__item-title {
  width: 130px;
  margin: 0;
  padding: 26px 0 29px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #fff; }

.products__icon {
  position: absolute;
  top: 50%;
  fill: rgba(20, 144, 128, 0.5);
  transform: translateY(-50%); }
  .products__icon--interior {
    right: 36px;
    width: 41px;
    height: 62px; }
  .products__icon--toys {
    right: 26px;
    width: 61px;
    height: 61px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.radio:first-of-type .radio__label {
  margin-top: 18px; }

.radio__input {
  display: none; }

.radio__label {
  position: relative;
  display: block;
  margin-top: 3px;
  margin-bottom: 0;
  padding: 10px 15px 11px 63px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #000; }
  .radio__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    padding: 10px;
    background-clip: content-box;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #444; }
  .radio__label:hover::before {
    border-color: #62d1ba; }
  .radio__label:active::before {
    border-color: #c7c7c7; }

.radio__input:checked + .radio__label::before {
  background-color: #62d1ba; }

/* --------------- tablet ------------------ */

.reviews {
  position: relative;
  margin-bottom: 36px;
  padding-bottom: 51px; }
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: transparent url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: auto 7px; }

.reviews__content {
  padding: 0 30px; }

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000; }

.reviews__item {
  margin: 0;
  margin-bottom: 32px; }
  .reviews__item p {
    font-size: 15px;
    line-height: 30px; }

.reviews__author-name {
  display: block;
  margin-top: 27px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  color: #000; }

.reviews__author-contact {
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #444; }

.reviews__navigation {
  margin-bottom: 38px;
  font-size: 0;
  text-align: center; }

.reviews__button {
  width: 130px;
  height: 52px;
  font-size: 0;
  background-color: transparent;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer; }
  .reviews__button--prev {
    border-right-width: 0; }

.reviews__button-icon {
  fill: #000; }

.reviews__button:hover .reviews__button-icon {
  fill: rgba(0, 0, 0, 0.6); }

.reviews__button:active .reviews__button-icon {
  fill: rgba(0, 0, 0, 0.3); }

.reviews__add-review {
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.shop-info {
  margin-bottom: 54px; }

.shop-info__content {
  padding: 0 30px; }

.shop-info__title {
  margin: 0;
  margin-bottom: 32px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000; }

.shop-info__subtitles {
  margin: 0;
  padding: 0;
  list-style: none; }

.shop-info__subtitle {
  position: relative;
  margin-bottom: 29px;
  padding-top: 54px;
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  color: #000; }
  .shop-info__subtitle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 10px; }
  .shop-info__subtitle--material {
    padding-right: 25%; }
  .shop-info__subtitle--material::before {
    width: 33px;
    height: 38px;
    margin-left: 8px;
    background: transparent url("../img/icon-feature-1.svg") no-repeat; }
  .shop-info__subtitle--style {
    padding-right: 22%; }
  .shop-info__subtitle--style::before {
    width: 47px;
    height: 27px;
    background: transparent url("../img/icon-feature-3.svg") no-repeat; }
  .shop-info__subtitle--like {
    padding-right: 28%; }
  .shop-info__subtitle--like::before {
    width: 34px;
    height: 28px;
    margin-left: 7px;
    margin-top: 4px;
    background: transparent url("../img/icon-feature-5.svg") no-repeat; }
  .shop-info__subtitle--work {
    padding-right: 18%; }
  .shop-info__subtitle--work::before {
    width: 35px;
    height: 34px;
    margin-top: 2px;
    margin-left: 2px;
    background: transparent url("../img/icon-feature-2.svg") no-repeat; }
  .shop-info__subtitle--producer::before {
    width: 55px;
    height: 23px;
    margin-top: 3px;
    margin-left: -5px;
    background: transparent url("../img/icon-feature-4.svg") no-repeat; }
  .shop-info__subtitle--packing {
    padding-right: 22%; }
  .shop-info__subtitle--packing::before {
    width: 33px;
    height: 32px;
    margin-left: 2px;
    background: transparent url("../img/icon-feature-6.svg") no-repeat; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.social-link {
  margin-right: 40px;
  font-size: 0;
  fill: #231F20; }
  .social-link:last-of-type {
    margin-right: 0; }
  .social-link--instagram {
    width: 22px;
    height: 21px; }
  .social-link--facebook {
    width: 15px;
    height: 29px; }
  .social-link--twitter {
    width: 24px;
    height: 20px; }
  .social-link:hover {
    fill: #46c1ae; }
  .social-link:active {
    fill: rgba(70, 193, 174, 0.3); }

.textarea-field {
  display: block;
  padding: 16px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  color: #444;
  border: 2px solid #444;
  outline: none;
  resize: none; }
  .textarea-field::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textarea-field::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textarea-field:-moz-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textarea-field:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3); }
  .textarea-field:hover, .textarea-field:active {
    border-color: #62d1ba; }

/* --------------- tablet ------------------ */

.top-product {
  position: relative;
  min-width: 320px;
  margin-bottom: 28px;
  padding-bottom: 42px; }
  .top-product::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7px;
    background: transparent url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: auto 7px; }

.top-product__content {
  padding: 0 30px; }

.top-product__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: #000; }

.top-product__subtitle {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb; }

.top-product__info p {
  margin: 18px 0; }

.top-product__table {
  display: table;
  width: 100%;
  margin-bottom: 28px;
  line-height: 20px; }

.top-product__table-row {
  display: table-row; }

.top-product__table-col {
  display: table-cell;
  padding: 9px 0 10px 0;
  border-bottom: 1px solid #ececec; }
  .top-product__table-col:first-child {
    width: 38%; }

.top-product__image {
  width: 260px;
  height: 315px;
  margin: 0 auto; }
  .top-product__image img {
    width: 260px;
    height: 315px; }

.top-product__card {
  margin-top: 25px;
  text-align: center; }

.top-product__card-price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center; }

.top-product__card-button {
  margin-top: 25px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.user-data__content {
  display: block; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.user-email__content {
  display: block; }

.user-email__icon {
  position: absolute;
  top: 34px;
  right: 4px;
  width: 32px;
  height: 32px;
  fill: rgba(0, 0, 0, 0.2); }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.user-note__textarea {
  width: 100%;
  min-height: 142px;
  margin-top: 25px; }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.user-phone__icon {
  position: absolute;
  bottom: 16px;
  right: 8px;
  width: 25px;
  height: 25px;
  fill: rgba(0, 0, 0, 0.2); }

/* --------------- tablet ------------------ */

/* --------------- desktop ------------------ */

.visually-hidden {
  position: absolute;
  display: none;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

@media (min-width: 768px) and (max-width: 1149px) {

  .catalog-item {
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    margin-bottom: 54px; }

  .catalog-item__photo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 334px;
    height: 334px;
    overflow: hidden; }

  .catalog-item__photo img {
    width: 334px;
    height: 334px; }

  .catalog-item__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 100px;
    padding: 25px 26px 0 26px; }

  .catalog-item__title {
    padding-right: 45px; }

  .catalog-item__title a {
    font-size: 20px; }

  .catalog-item__options {
    font-size: 15px; }

  .catalog-item__order {
    margin-top: auto;
    margin-right: 5px;
    padding: 22px 0 26px 5px;
    font-size: 17px; } }

@media (min-width: 768px) {

  .checkbox {
    width: 50%; }

  .checkbox:last-of-type .checkbox__label {
    margin-bottom: 12px; }

  .checkbox:nth-of-type(2n) {
    width: calc(50% - 11px);
    margin-left: 11px; }

  .checkbox__label {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 17px 15px 16px 82px;
    font-size: 19px;
    line-height: 19px; }

  .checkbox__label::before {
    width: 50px;
    height: 48px; }

  .checkbox__input:checked + .checkbox__label::before {
    background-size: 33px 22px; }

  .contacts {
    margin-bottom: 57px; }

  .contacts__content {
    width: 668px;
    padding: 0 50px; }

  .contacts__title {
    position: relative;
    margin-bottom: 49px;
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .contacts__title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 47px;
    height: 81px;
    margin-right: 3px;
    background: transparent url("../img/icon-flag.svg") no-repeat;
    transform: translateY(-19%); }

  .contacts__items {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 56px;
    font-size: 17px; }

  .contacts__item {
    width: 50%;
    margin-bottom: 0; }

  .contacts__item-email,
  .contacts__item-address {
    width: 78px; }

  .contacts__item-email-value,
  .contacts__item-address-value {
    width: auto;
    padding-right: 0; }

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-tablet@1x.jpg") no-repeat 50% 0; }

  .contacts__feedback {
    width: 226px;
    margin-top: 55px;
    font-size: 17px;
    line-height: 17px; }

  .fieldset-title {
    position: absolute;
    top: 38px;
    left: 0;
    width: auto;
    margin: 0;
    margin-top: 28px; }

  .fieldset-title--mail {
    top: 0; }

  .fieldset-title::after {
    display: none; }

  .input-field {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 13px;
    padding-left: 18px;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 23px; }

  .input-field:last-of-type {
    margin-bottom: 12px; }

  .input-field--phone, .input-field--mail {
    padding-right: 60px; }

  .label-field {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-right: 25px;
    font-size: 19px;
    line-height: 19px; }

  .label-field:first-of-type {
    margin-top: 12px; }

  .modal {
    width: 506px;
    padding: 42px 30px 46px 30px;
    border: 1px solid #c7c7c7; }

  .modal__header {
    margin-bottom: 18px;
    font-size: 30px;
    line-height: 57px; }

  .modal__text {
    font-size: 17px; }

  .modal__size-select {
    width: 350px;
    margin: 0 auto; }

  .modal__size-select label {
    width: 108px; }

  .modal__add-basket {
    width: 350px;
    margin-left: auto;
    margin-right: auto; }

  .navigation__content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin: 0 50px; }

  .navigation__logo-menu {
    margin-left: -2px;
    margin-right: auto;
    width: auto;
    padding: 22px 0 18px 0;
    border: 0; }

  .navigation__logo img {
    width: 113px;
    height: 46px; }

  .navigation__toggle {
    display: none; }

  .navigation__main-menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .navigation__main-menu-item a {
    padding: 32px 0;
    padding-left: 35px;
    border: 0;
    border-left: 1px solid #ececec; }

  .navigation__main-menu-item:first-child, .navigation__main-menu-item:nth-child(2) {
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 157px;
    margin-right: 10px; }

  .navigation__main-menu-item:first-child a, .navigation__main-menu-item:nth-child(2) a {
    padding: 19px 0;
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    border: 0; }

  .navigation__main-menu-item:first-child {
    left: 0px; }

  .navigation__main-menu-item:nth-child(2) {
    left: 167px; }

  .navigation__main-menu-item--search a {
    position: relative;
    min-width: 12px;
    padding-right: 35px;
    font-size: 0; }

  .navigation__main-menu-item--basket a {
    position: relative;
    padding-left: 83px; }

  .navigation__bottom {
    position: absolute;
    bottom: -62px;
    right: 0;
    z-index: 5;
    display: block;
    text-align: right; }

  .navigation__menu {
    display: none; }

  .navigation__menu-delivery {
    display: inline-block;
    padding: 19px 0;
    color: #444; }

  .order__wrapper--color {
    background-color: #f1f1f1; }

  .order__content {
    padding: 0 50px; }

  .order__item {
    position: relative;
    margin: 0;
    padding-left: 167px;
    padding-top: 38px;
    padding-bottom: 38px;
    border: 0; }

  .order__item--phone {
    padding-bottom: 0; }

  .order__item--mail {
    padding-top: 0; }

  .order__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 50px; }

  .order__note {
    margin: 13px 0 10px 0;
    font-size: 17px;
    line-height: 30px; }

  .order__button {
    -ms-flex-order: -1;
    order: -1;
    width: 230px;
    margin-top: 3px; }

  .page-footer__content {
    max-width: 1200px;
    margin: 0 auto;
    height: 34px;
    padding: 0 50px;
    padding-top: 55px;
    padding-bottom: 54px;
    text-align: justify; }

  .page-footer__content::after {
    content: "";
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0; }

  .page-footer__logo {
    display: inline-block;
    vertical-align: top;
    cursor: pointer; }

  .page-footer__logo svg {
    width: 102;
    height: 34px; }

  .page-footer__logo svg:hover {
    fill: #46c1ae; }

  .page-footer__logo svg:active {
    fill: #46c1ae;
    opacity: 0.3; }

  .page-footer__social {
    display: inline-block;
    height: 30px;
    margin-left: 79px;
    padding: 0;
    vertical-align: top;
    border-bottom: 0; }

  .page-footer__copyright {
    display: inline-block;
    padding: 0;
    line-height: 34px;
    vertical-align: top; }

  .page-footer__copyright-link img {
    vertical-align: top; }

  .page-header {
    border-bottom: 1px solid #e7e7e7; }

  .page-main__title {
    position: relative;
    margin-bottom: 30px;
    padding: 95px 0 79px 0;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .page-main__title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    margin-bottom: -12px;
    background: transparent url("../img/bg-zigzag-fill.svg") repeat-x;
    background-size: auto 24px; }

  .page-main__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 50px; }

  .page-main__catalog {
    width: 100%;
    margin-top: 80px;
    margin-bottom: 0;
    overflow: hidden; }

  .page-main__production {
    position: relative;
    width: 668px;
    margin-bottom: 63px; }

  .page-main__production p {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 30px; }

  .page-main__production-title {
    -ms-flex-order: 2;
    order: 2;
    padding: 38px 20px 32px 106px;
    font-size: 20px; }

  .page-main__production-title:before {
    left: 41px;
    margin-top: 3px; }

  .page-main__production:hover .page-main__production-title {
    box-shadow: 6px 0 10px -6px rgba(0, 0, 0, 0.1), -6px 0 10px -6px rgba(0, 0, 0, 0.1); }

  .page-main__production:active .page-main__production-title {
    box-shadow: 3px 0 5px -3px rgba(0, 0, 0, 0.1), -3px 0 5px -3px rgba(0, 0, 0, 0.1); }

  .page-main__production-video {
    -ms-flex-order: 1;
    order: 1;
    width: 668px;
    height: 455px;
    background: transparent url("../img/video-tablet@1x.jpg") no-repeat; }

  .page-main__production-video video {
    width: 668px;
    height: 455px; }

  .page-main__production-info {
    -ms-flex-order: 3;
    order: 3;
    padding: 0 41px 45px 41px; }

  .page-main__production-order {
    margin-top: 34px; }

  .page-main__text-info {
    margin-top: 73px;
    margin-bottom: 7px;
    font-size: 17px;
    line-height: 30px; }

  .page-main__order {
    margin-top: 6px;
    margin-bottom: 50px; }

  .product-color__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .products {
    position: relative;
    margin-bottom: 47px;
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% -1px; }

  .products::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 24px;
    margin-bottom: -12px;
    background: transparent url("../img/bg-zigzag-fill.svg") repeat-x;
    background-size: auto 24px; }

  .products__title {
    width: auto;
    padding: 154px 50px 367px 50px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .products__items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 50px; }

  .products__item {
    width: 50%;
    margin-top: 5px; }

  .products__item:hover {
    padding-bottom: 5px;
    margin-top: 0; }

  .products__item-title {
    margin-right: 100px;
    padding: 28px 0 30px 37px;
    font-size: 20px;
    line-height: 30px; }

  .products__icon--toys {
    right: 33px; }

  .radio:first-of-type .radio__label {
    margin-top: 0; }

  .radio__label {
    margin: 0;
    padding: 29px 15px 28px 81px;
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    color: #000; }

  .radio__label::before {
    top: 50%;
    width: 22px;
    height: 22px;
    padding: 13px;
    transform: translateY(-50%); }

  .reviews {
    margin-bottom: 62px;
    padding-bottom: 84px; }

  .reviews::after {
    height: 17px;
    background-size: auto 17px; }

  .reviews__content {
    position: relative;
    padding: 79px 50px 49px 50px;
    background: transparent url("../img/review@1x.jpg") no-repeat 0 50%; }

  .reviews__title {
    margin-left: -4px;
    margin-bottom: 47px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .reviews__item {
    margin-bottom: 0; }

  .reviews__item p {
    font-size: 17px; }

  .reviews__author-name {
    margin-top: 58px;
    font-size: 17px; }

  .reviews__navigation {
    position: absolute;
    bottom: 0;
    right: 50px;
    margin-bottom: 45px; }

  .reviews__button {
    width: 88px;
    height: 60px;
    border: 0; }

  .reviews__add-review {
    position: absolute;
    top: 79px;
    right: 50px;
    width: 171px;
    box-sizing: content-box; }

  .shop-info {
    margin-bottom: 27px; }

  .shop-info__content {
    padding: 0 50px; }

  .shop-info__title {
    margin-bottom: 47px;
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .shop-info__subtitles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

  .shop-info__subtitle {
    width: 50%;
    margin-bottom: 53px;
    padding-right: 0;
    font-size: 20px; }

  .shop-info__subtitle--material {
    -ms-flex-order: -6;
    order: -6;
    width: 33%;
    padding-right: 17%; }

  .shop-info__subtitle--style {
    -ms-flex-order: -4;
    order: -4;
    width: 38%;
    padding-right: 12%; }

  .shop-info__subtitle--style::before {
    margin-top: 2px; }

  .shop-info__subtitle--like {
    -ms-flex-order: -2;
    order: -2;
    width: 35%;
    padding-right: 15%; }

  .shop-info__subtitle--like::before {
    margin-left: 8px;
    margin-top: 6px; }

  .shop-info__subtitle--work {
    -ms-flex-order: -5;
    order: -5;
    width: 40%;
    padding-right: 10%; }

  .shop-info__subtitle--work::before {
    margin-top: 4px;
    margin-left: 3px; }

  .shop-info__subtitle--producer {
    -ms-flex-order: -3;
    order: -3;
    width: 50%; }

  .shop-info__subtitle--producer::before {
    margin-top: 5px; }

  .shop-info__subtitle--packing {
    -ms-flex-order: -1;
    order: -1;
    width: 40%;
    padding-right: 10%; }

  .shop-info__subtitle--packing::before {
    margin-top: 3px;
    margin-left: 3px; }

  .textarea-field {
    padding: 14px;
    font-size: 19px;
    line-height: 21px; }

  .top-product {
    margin-bottom: 50px;
    padding-bottom: 69px; }

  .top-product::after {
    height: 17px;
    background-size: auto 17px; }

  .top-product__content {
    padding: 0 50px; }

  .top-product_header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px; }

  .top-product__title {
    margin: 0;
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
    font-weight: bold;
    color: #000; }

  .top-product__subtitle {
    width: 69px;
    margin: 8px 0;
    padding: 0 28px;
    text-align: center; }

  .top-product__item {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start; }

  .top-product__info {
    padding-bottom: 111px; }

  .top-product p {
    margin-top: 0;
    font-size: 17px;
    line-height: 30px; }

  .top-product__table {
    margin-top: 36px; }

  .top-product__table-col:first-child {
    width: 33%; }

  .top-product__image {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 333px;
    height: 404px;
    margin: 0;
    margin-left: 44px;
    margin-top: 8px; }

  .top-product__image img {
    width: 333px;
    height: 404px; }

  .top-product__card {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 333px - 44px); }

  .top-product__card-price {
    font-size: 20px; }

  .top-product__card-button {
    margin-top: 34px; }

  .user-data__content {
    display: -ms-flexbox;
    display: flex; }

  .user-email__icon {
    top: 23px;
    right: 22px; }

  .user-note__textarea {
    margin-top: 12px;
    margin-bottom: 12px; }

  .user-phone__icon {
    bottom: 27px;
    right: 26px; } }

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-tablet@2x.jpg") no-repeat 50% 0;
    background-size: auto, auto 457px; }

  .page-main__production-video {
    background-image: url("../img/video-tablet@2x.jpg");
    background-size: cover; }

  .products {
    background-image: url("../img/hero-desktop@2x.jpg");
    background-size: auto 746px; }

  .reviews__content {
    background-image: url("../img/review@2x.jpg");
    background-size: 350px auto; } }

@media (min-width: 1150px) {

  .catalog-item {
    width: 316px;
    margin-right: auto;
    margin-bottom: 57px; }

  .catalog-item:nth-of-type(3n) {
    margin-right: 0; }

  .catalog-item__photo img {
    width: 316px;
    height: 462px; }

  .catalog-item__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 170px; }

  .catalog-item__title {
    padding-right: 20px; }

  .catalog-item__title a {
    font-size: 20px; }

  .catalog-item__options {
    font-size: 15px; }

  .catalog-item__order {
    margin-top: auto;
    margin-right: 4px;
    padding: 22px 0 26px 0;
    font-size: 17px; }

  .checkbox {
    width: 33.3%; }

  .checkbox:nth-of-type(2n) {
    width: 33.3%;
    margin-left: 0; }

  .contacts {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 105px; }

  .contacts__content {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    padding-left: 225px;
    padding-bottom: 52px; }

  .contacts__title {
    position: relative;
    margin-top: 70px;
    margin-bottom: 49px;
    margin-left: -5px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .contacts__title::after {
    left: 0;
    margin: 0;
    margin-top: -8px;
    margin-left: -60px;
    transform: translateX(-100%); }

  .contacts__items {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0; }

  .contacts__item {
    width: auto;
    margin-bottom: 30px; }

  .contacts__map {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 525px;
    margin-right: 50px;
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-desktop@1x.jpg") no-repeat 50% 0; }

  .contacts__feedback {
    position: absolute;
    left: 225px;
    bottom: 0; }

  .input-field--phone,
  .input-field--mail {
    padding-right: 45px; }

  .navigation {
    max-width: 1300px;
    margin: 0 auto; }

  .navigation__content {
    margin: 0 15px; }

  .navigation__logo-menu {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    padding: 8px 0 8px 0;
    transform: translateX(-50%); }

  .navigation__logo img {
    width: 149px;
    height: 72px; }

  .navigation__main-menu {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%; }

  .navigation__main-menu-item {
    max-width: 25%;
    display: -ms-flexbox;
    display: flex; }

  .navigation__main-menu-item a {
    padding: 32px 35px;
    margin: 0;
    border-left: 1px solid #ececec; }

  .navigation__main-menu-item:first-child, .navigation__main-menu-item:nth-child(2) {
    position: static;
    width: auto;
    margin-right: 0; }

  .navigation__main-menu-item:first-child a, .navigation__main-menu-item:nth-child(2) a {
    padding: 32px 35px;
    font-size: 17px; }

  .navigation__main-menu-item:nth-child(2) a {
    border-left: 1px solid #ececec; }

  .navigation__main-menu-item:nth-child(2) {
    margin-right: auto; }

  .navigation__main-menu-item:nth-child(3) {
    margin-left: 0;
    padding-left: 250px; }

  .navigation__main-menu-item--basket a {
    padding-left: 85px; }

  .navigation__bottom {
    width: 100%;
    display: -ms-flexbox;
    display: flex; }

  .navigation__menu {
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    list-style: none; }

  .navigation__menu-item {
    padding: 19px 0;
    margin-right: 61px; }

  .navigation__menu-item a {
    font-weight: bold;
    text-decoration: none;
    color: #000; }

  .navigation__menu-delivery {
    margin-left: auto;
    margin-right: 35px; }

  .order__content {
    max-width: 1200px;
    margin: 0 auto; }

  .order__item {
    margin-left: 62px;
    padding-left: 113px; }

  .order__footer {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 225px; }

  .order__note {
    margin-top: 10px; }

  .order__button {
    margin-top: 0; }

  .page-main__title {
    padding: 93px 0 104px 0;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .page-main__title::after {
    height: 34px;
    margin-bottom: -17px;
    background-size: auto 34px; }

  .page-main__content {
    max-width: 1200px; }

  .page-main__catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 128px;
    margin-bottom: 0; }

  .page-main__production {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 1050px;
    height: 455px;
    margin-bottom: 105px; }

  .page-main__production p {
    margin-bottom: 16px; }

  .page-main__production-title {
    width: 230px;
    padding: 95px 59px 33px 78px;
    border-left: 0; }

  .page-main__production-title:before {
    left: 80px;
    top: 42px;
    margin-top: 0;
    transform: none; }

  .page-main__production-video {
    width: 682px;
    height: 455px;
    background: transparent url("../img/video-desktop@1x.jpg") no-repeat; }

  .page-main__production-video video {
    width: 682px;
    height: 455px; }

  .page-main__video-button {
    margin-top: 0;
    margin-left: 9px; }

  .page-main__production-info {
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 230px;
    padding: 0 57px 0 80px;
    border-left: 0; }

  .page-main__production-order {
    margin-top: 46px; }

  .page-main__text-info {
    padding: 0 175px;
    margin-top: 122px;
    margin-bottom: 5px; }

  .page-main__order {
    margin-top: 5px;
    margin-bottom: 49px; }

  .product-color {
    padding-right: 87px; }

  .products {
    margin-bottom: 72px; }

  .products::after {
    height: 34px;
    margin-bottom: -17px;
    background-size: auto 34px; }

  .products__title {
    padding: 153px 50px 354px 50px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .products__items {
    max-width: 1300px;
    margin: 0 auto; }

  .reviews {
    margin-bottom: 71px;
    padding-bottom: 90px; }

  .reviews::after {
    height: 23px;
    background-size: auto 23px; }

  .reviews__content {
    max-width: 1025px;
    margin: 0 auto;
    padding: 70px 50px 98px 225px;
    background-position: 50px 50%; }

  .reviews__title {
    margin-bottom: 48px;
    margin-left: -3px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .reviews__item p {
    padding-right: 100px; }

  .reviews__author-name {
    margin-top: 40px; }

  .reviews__navigation {
    margin-bottom: 94px; }

  .shop-info {
    margin-bottom: 34px; }

  .shop-info__content {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 225px; }

  .shop-info__title {
    margin-bottom: 48px;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .shop-info__subtitle--style {
    width: 35%;
    padding-right: 15%; }

  .shop-info__subtitle--like {
    width: 32%;
    padding-right: 18%; }

  .top-product {
    margin-bottom: 59px;
    padding-bottom: 96px; }

  .top-product::after {
    height: 23px;
    background-size: auto 23px; }

  .top-product__content {
    position: relative;
    max-width: 1200px;
    margin: 0 auto; }

  .top-product_header {
    position: absolute;
    top: 0;
    left: 46px;
    z-index: 1;
    width: 80%;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 52px; }

  .top-product__title {
    margin-left: 0;
    font-size: 53px;
    line-height: 57px;
    font-weight: bold;
    color: #000; }

  .top-product__subtitle {
    -ms-flex-order: -1;
    order: -1;
    margin: 14px 0 9px 0;
    padding: 0 55px 0 51px; }

  .top-product__item {
    margin-left: 175px; }

  .top-product__info {
    padding-top: 158px; }

  .top-product__table {
    margin-top: 50px; }

  .top-product__table-col {
    padding: 7px 0 12px 0; }

  .top-product__image {
    width: 525px;
    height: 636px;
    margin-top: 0;
    margin-left: 58px; }

  .top-product__image img {
    width: 525px;
    height: 636px; }

  .top-product__card {
    width: calc(100% - 525px - 58px); }

  .top-product__card-price {
    margin-left: 5px; }

  .top-product__card-button {
    margin-top: 33px; }

  .user-data {
    margin-right: 175px; }

  .user-email {
    margin-right: 175px; }

  .user-email__icon {
    top: 23px;
    right: 4px; }

  .user-note {
    margin-right: 175px; }

  .user-phone {
    margin-right: 175px; }

  .user-phone__icon {
    bottom: 27px;
    right: 8px; } }

@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-desktop@2x.jpg") no-repeat 50% 0;
    background-size: auto, auto 457px; }

  .page-main__production-video {
    background-image: url("../img/video-desktop@2x.jpg");
    background-size: cover; } }

@media (max-width: 767px) {

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-mobile@1x.jpg") no-repeat 50% 0; }

  .navigation--nojs .navigation__toggle {
    display: none; }

  .navigation--closed .navigation__main-menu {
    display: none; }

  .navigation--opened .navigation__main-menu {
    position: absolute;
    top: 81px;
    z-index: 5;
    width: 100%;
    background-color: #fff; }

  .navigation--nojs .navigation__main-menu {
    position: static;
    display: block; }

  .page-main__production-video {
    background: transparent url("../img/video-mobile@1x.jpg") no-repeat; }

  .products {
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% -18px; } }

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {

  .contacts__map {
    background: transparent url("../img/icon-map-pin.svg") no-repeat 50% 50%, transparent url("../img/map-mobile@2x.jpg") no-repeat 50% 0;
    background-size: auto, auto 457px; }

  .page-main__production-video {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: cover; }

  .products {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto; } }
